<div class="container w-40 mt-5">
  <div class="row">
    <h3 class="text-center font-weight-bold w-100">ĐĂNG NHẬP</h3>
    <div class="col-12">
      <div class="form-group">
        <label for="">Tài khoản</label>
        <input type="text" class="form-control rounded-0" #taiKhoan />
      </div>
    </div>
    <div class="col-12">
      <div class="form-group">
        <label for="">Mật khẩu</label>
        <input type="text" class="form-control rounded-0" #matKhau />
      </div>
    </div>
    <div class="col-12">
      <button
        class="btn text-white w-100"
        style="background: #df322f"
        (click)="login(taiKhoan.value, matKhau.value)"
      >
        ĐĂNG NHẬP
      </button>
    </div>
  </div>
</div>
